*.log
*/*.log
*.tlog
*/*.tlog
*.tlog.raw
*/*.tlog.raw
__pycache__
*/__pycache__
*.pyc
*/.pyc
*.pyo

.pytest_cache

mav.parm
*/mav.parm
eeprom.bin
*/eeprom.bin
ardupilot
*/ardupilot
logs
*/logs
terrain
*/terrain

*_arducopter.*.out